fastapi
uvicorn
streamlit
markdown
requests

openai
google-genai

langchain
langgraph
langchain-community
langchain-openai
langchain-text-splitters

faiss-cpu

pypdf

tavily-python

pydantic

python-dotenv

python-multipart

tiktoken

numpy

aiofiles